/*
. - class
# - id

*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  float: left;
  padding: 1%;
}
header {
  background-color: rgba(240, 128, 128, 0.63);
  border-bottom-style: groove;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}
nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: rgb(233, 66, 66);
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: rgb(233, 66, 66);

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto; /*clockwise*/
  padding: 1%;
}
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 1px solid rgba(240, 128, 128, 0.63);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: rgba(240, 128, 128, 0.63);
}
.search button:hover,
.btn:focus,
.btn:active,
.btn.active,
.open > .dropdown-toggle.btn {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-color: rgb(240, 128, 128);
}
.card button {
  background: rgba(240, 128, 128, 0.63);
}
